###########################################
## Java & Kotlin
###########################################
bin/
build/
target/
out/
.gradle/
*.class
*.jar
*.war

!**/gradle-wrapper.jar

###########################################
## Python
###########################################
__pycache__/
*.py[cod]
.venv/
venv/
.env
.pytest_cache/
instance/
.python-version

###########################################
## PostgreSQL & Database
###########################################
*.psql
.pgpass
.pg_service.conf
pgdata/
postgres-data/

###########################################
## IDEs & OS
###########################################
.idea/
*.iml
.vscode/
!.vscode/settings.json
.DS_Store
Thumbs.db

###########################################
## CI/CD & Logs
###########################################
*.log


###########################################
## KEYS & Secrets
###########################################
.keys/
*.keystore
